* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
}

body {
    font-family: 'Inter', sans-serif;;
    background-color: var(--bg-color);
    color: var(--text-color);
    max-width: var(--container-width);
    margin: 0 auto;
    padding: var(--spacing-2xl);
    position: relative; 
    min-height: 100vh; 
    padding-bottom: 270px; 
}

