.contact-section{
   max-width:1200px;
    height: 570px;
    border-radius: var(--border-radius-small);
    margin: 0 auto;
    color: var(--main-text-color); 
}

.contact-title-2 {
    padding-bottom: 200px;
    position: relative;
   top: -70px;
}
.contacts-label {
    width: 106px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 3px;
    color: #1B1B1B40;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 120px;
    z-index: 3;
}

.contact-with-me {
    width: 492px;
    height: 48px;
    padding-top: 170px;
    color: var(--main-text-color); 
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-2big);
    line-height: var(--line-height-normal);
    letter-spacing: 0%;
    margin-right: 820px;
}

.contact-coop {
    width: 500px;
    height: 44px;
    padding-top: 65px;
    color: var(--main-text-color); 
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-large);
    letter-spacing: 0%;
    margin-right: 820px;
}

.contact-info2 {
    width: 400px;
    height: 290px;
    padding-bottom: 50px;
    border-radius: var(--border-radius-1big);
    background-color: var(--accent-color);
    position: relative;
    top: -140px;
}

.contact-container {
    display: flex;
    gap: var(--spacing-2big);
    align-items: flex-start;
    /* max-width: 1200px; */
}

.contact-info {
    padding: var(--spacing-1big);
    border-radius: var(--border-radius-1big);
    box-sizing: border-box;
}

.contact-info h3 {
    width: 102px;
    height: 34px;
    font-size: var(--font-size-1big);
    font-weight: var(--font-weight-bold);
    margin-bottom: 5px;
    color: var(--main-text-color); 
    font-family: var(--font-family);
    line-height: var(--line-height-large);
    letter-spacing: 0%;
    margin-left: 10px;
}

.contact-info p {
    width: 320px;
    height: 22px;
    margin-bottom: var(--spacing-large);
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-large);
    letter-spacing: 0%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    color: var(--main-text-color);
    position: relative;
    margin-top: -145px;
    margin-left: 50px;
}

.form-row {
    display: flex;
    gap: var(--spacing-large);
    flex-wrap: wrap;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group.full {
    width: 100%;
    
}

label {
    font-size: var(--font-size-large);
    margin-bottom: 5px;
    font-family: var(--font-family);
    line-height: var(--line-height-large);
    letter-spacing: 0%;
    font-weight: var(--font-weight-bold);
    color: var(--main-text-color);
    margin-left: 2px;
}

label span {
    color: red;
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
    letter-spacing: 0%;
}

input {
    border: none;
    border-bottom: 1px solid rgba(27, 27, 27, 0.25);
    padding: var(--spacing-small) 0;
    font-size: var(--font-size-main);
    outline: none;
    transition: border-color 0.3s;
    width: 335px;
    background-color: transparent;
    color: var(--text-color);
}

textarea {
    width: 100%;
    min-height: 105px;
    font-size: var(--font-size-main);
    font-family: var(--font-family);
    color: var(--main-text-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background: var(--input-background-color-dark);
    padding: 12px 16px;
    line-height: 1.5;
    outline: none;
    resize: none;
}

small {
    font-size: var(--font-size-small);
    color: var(--main-text-color);
    margin-top: var(--spacing-1big);

}

.form-podval {
    display: flex;
    align-items: center;
    gap: var(--spacing-1big);
    flex-wrap: wrap;
    margin-left: 3px;
}

.form-podval p {
    font-size: var(--font-size-small);
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-large);
    letter-spacing: 0%;
    margin-left: 35px;
    color: var(--main-text-color);
}

.submit-knopka {
    width: 90px;
    height: 36px;
    background: var(--button-background-color);
    color: var(--button-text-color); 
    border: none;
    border-radius: var(--border-radius-medium);
    font-size: var(--font-size-main);
    text-transform: lowercase;
    cursor: pointer;
}

.by-clicking {
    font-size: var(--font-size-small);
    color: var(--main-text-color);
    margin: 0;
    line-height: 1.4;
}

.by-clicking a {
    color: var(--accent-blue-color);
    text-decoration: underline;
    text-underline-offset: 2px;
}