.experience-section {
    margin: 0 auto;
    padding: 60px 0;
    box-sizing: border-box;
    background-color: #FFDA74;
    border-radius: 0;
    max-width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    margin-bottom: var(--spacing-2xl);
}

.experience_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-base);
    line-height: var(--line-height-relaxed);
    letter-spacing: 3px;
    opacity: var(--opacity-medium);
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: var(--text-color);
}

.experience-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-normal);
    margin-top: var(--spacing-xl);
    text-align: center;
    width: 100%;
    color: var(--text-color);
}

.experience_title-p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-large);
    margin-top: var(--spacing-medium);
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: var(--main-text-color);
    margin-bottom: 70px;
}

.experience-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
    margin-bottom: 30px;
}

.experience-card {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    max-width: 560px;
    height: 338px;
    background-color: var(--card-background-color-dark);
    margin: 0 auto;
    display: flex; 
    flex-direction: column; 
    align-items: center; /
    text-align: center; 
}

.experience-card h3 {
    font-size: var(--font-size-large);
    color: var(--main-text-color);
    font-weight: var(--font-weight-bold);
    margin-bottom: 10px;
     
    width: 100%; 
}

.experience-card p {
    font-size: var(--font-size-medium);
    color: var(--text-color);
    line-height: var(--line-height-large);
    margin-bottom: 25px;
    width: 100%;
    max-width: 500px;
    opacity: 0.8;
    
}

.experience-card h2 {
    font-size: var(--font-size-3big);
    font-weight: var(--font-weight-bold);
    color: var(--main-text-color);
    margin: 0;
    margin-top: auto; /
    opacity: 0.9;
    width: 100%;
}